/* Title */

.body-content-container-hero {
    display: block;
    position: relative;
    max-width: 50vw;
}

.tl-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25vw;
    height: auto;
}

.dev-logos {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
}

.dev-logos > img {
    display: block;
    padding-left: 5px;
    width: auto;
    height: 50px;
}

.dev-logos .img-add-left-padding{
    padding-left: 25px;
}

.dev-logos .img-add-left-padding-15{
    padding-left: 15px;
}

/* Resume */

.body-content-container-resume {
    display: block;
    position: relative;
    max-width: 50vw;
}

/* Hide Development Technology Logos With class .dev-technology-desktop 
    if screen size < 1200px
*/
@media screen and (max-width: 1366px) {
    #dev-technology-logos-desktop {
        display: none;
    }

    #dev-environment-logos-desktop {
        display: none;
    }
}

@media screen and (min-width: 1365px) {
    #dev-technology-logos-mobile {
        display: none;
    }

    #dev-environment-logos-mobile {
        display: none;
    }
}

.technology-container p{
    text-decoration: underline;
}

h1 {
    font-size: 6.5vw;
    font-weight: 400;
}

h2 {
    font-size: 3vw;
    font-weight: 200;
}

h3 {
    font-size: 2vw;
    font-weight: 400;
}

.subtitle {
    padding: 5px;
}

.subtitle > h4 {
    font-size: 52px;
    font-weight: 600;
    font-style: italic;
}

#resume-image {
    padding: 10px;
}

/* Projects Related */
.content-container-projects-1 {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 50vw;
    min-height: 475px;
    justify-content: center;
    align-items: center;
}

.content-container-projects-1 .body-projects-desc {
    text-align: center;
    overflow: auto;
    background-color: #343A40;
    padding: 20px;
    min-width: 40vw;
}

p.project-title {
    color: white;
    font-size: xx-large;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
}

.project-text {
    color: white;
}

/* Blog */

.blog-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.blog-content {
    min-width: 40vh;
    min-height: 20vh;
    margin: 10px;
}

.blog-title {
    font-size: 32px;
    font-weight: 600;
}

.blog-description {
    font-size: 16px;
}

.blog-image {
    display: flex;
    justify-content: center;
    height: 150px;
    padding: 20px;
}

.text-white {
    color: white;
}

.bg-grad-peach {
    background-image: linear-gradient(to right, #ffecd2, #fcb69f);
}

.bg-grad-underwater {
    background-image: linear-gradient(to top right, #13547a, #80d0c7);
}

.bg-grad-blueshade {
    background-image: linear-gradient(to top, #09203f, #537895)
}

.bg-grad-stpetersburg {
    background-image: linear-gradient(to bottom right, #f5f7fa , #c3cfe2)
}

/* For mobile devices, scale blog grid section */
@media screen and (max-width: 1000px) {
    .blog-container {
        display: flex;
        flex-direction: column;
    }

    .blog-title {
        display: none;
    }

    .subtitle > h4 {
        font-size: 40px;
        font-weight: 600;
        font-style: italic;
    }

    .blog-content {
        min-width: 45vh;
        min-height: 30vh;
        margin: 5px;
    }

    .blog-image {
        height: 150px;
        width: auto;
    }
}
@media screen and (min-width: 1001px) {
    small {
        font-size: 20px;
    }
}