.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 60px;
}

.body-content-container-hero {
    display: block;
    position: relative;
    max-width: 50vw;
}

.body-content-container-resume {
    display: block;
    position: relative;
    max-width: 50vw;
}

.tl-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25vw;
    height: auto;
}

.dev-logos {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
}

.dev-logos > img {
    display: block;
    padding-left: 5px;
    width: auto;
    height: 50px;
}

.dev-logos .img-add-left-padding{
    padding-left: 25px;
}

.dev-logos .img-add-left-padding-15{
    padding-left: 15px;
}

/* Hide Development Technology Logos With class .dev-technology-desktop 
    if screen size < 1200px
*/
@media screen and (max-width: 1366px) {
    #dev-technology-logos-desktop {
        display: none;
    }

    #dev-environment-logos-desktop {
        display: none;
    }
}

@media screen and (min-width: 1365px) {
    #dev-technology-logos-mobile {
        display: none;
    }

    #dev-environment-logos-mobile {
        display: none;
    }
}

.technology-container p{
    text-decoration: underline;
}

h1 {
    font-size: 6vw;
    font-weight: 400;
}

h2 {
    font-size: 2vw;
    font-weight: 200;
}

h3 {
    font-size: 36px;
    font-weight: 400;
}

.resume-title {
    text-align: left;
}

#resume-image {
    padding: 10px;
}